@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
/*---- Banner Styling----*/


header nav{
    width: 100%;
    height: 150px;
    display: flex;
    border-bottom: solid 4px rgb(94, 163, 241);
    position: relative; 
    background-color: #fff;  
}
img{
    height: 85%;
    width: 210px;
   position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 25px;
    padding-right: 35px;
    border-right: solid 0.5px rgb(138, 211, 245);       
}
ul{
    height: 100%;
    list-style-type: none;  
}
ul .outli{
    height: 100%;
    padding-left: inline-block;
    float: left;
    position: relative;
}
ul .outli .mainTag{
    box-sizing: border-box;
    height:98%;
    width: 300px;
    display: inline-block;
    line-height: 143px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 0px 50px;
    transition: ease-in-out 0.3s;
    font-family: 'Cabin', sans-serif;
    border-radius: 4px;
    color: black;
}
ul .outli:hover .mainTag{
 color: #fff;
 background-color: rgb(94, 163, 241);
 font-size: 27px;
 height: 102%;
}
ul .outli ul{
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  z-index: -1;
  transform: translateY(-2em);
  opacity: 0;
}
ul .outli:hover ul{
    visibility: visible;
    z-index:1;
    transform: translateY(0%);
    opacity: 1;
    transition-delay: 0s, 0s, 0s,0.3s;
    
}

ul .outli ul .innerli{
   box-sizing: border-box;
   height: 60px;
   width: 300px;
   border-radius: 4px;
   text-align: center;
   padding-top: 15px;
   font-size: 20px;
   background-color: rgb(94, 163, 241);
   margin: 5px 0px;
}
ul .outli ul .innerli a{
    text-decoration: none;
    border-radius: 4px;
    font-family:'Cabin', sans-serif;
    color: rgba(255, 255, 255, 0.63);
  }
ul .outli ul .innerli:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0.3px 0.3px 0.3px 0.3px gray;
}
ul .outli ul .innerli:hover a{
    color:rgb(94, 163, 241);
    
}
/* container */
header #container::before{
    content: ' ';
    position: absolute;
    bottom: 0;
    top:0;
    right: 0;
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url(img/tech.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.6;
}
header #container{
    box-sizing: border-box;
    box-sizing: border-box;
    min-height: 85.5vh;
    padding: 10vw;
    width: 100vw;
}
header #container h1{
    color: rgb(12, 3, 109);
    margin-top: 200px;
    text-align: center;
    font-size: 75px;
    font-family: 'Roboto Mono', monospace;
}

/*--- Main Styling ---*/
main{
  
  background-color: rgb(196, 228, 247); 
  margin-top: -12px;
  
  
}
main section {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}
